#===============================================================================
#
#   M E M C A C H E D _ T C P C O N N S . C O N F
#
#===============================================================================
LoadPlugin tcpconns
<Plugin tcpconns>
    ListeningPorts false
    LocalPort "11211"
</Plugin>
