#===============================================================================
#
#  C L U S T E R S . C F G
#
#===============================================================================
define servicegroup{
    servicegroup_name           cluster-checks
    alias                       Cluster Checks
}
