#===============================================================================
#
#  I C I N G A . C F G
#
#===============================================================================
define servicegroup{
        servicegroup_name       icinga-checks
        alias                   ICINGA Checks
}


    #=============================================
    #  Service: ICINGA  (Graph)
    #=============================================
    define service {
        service_description     Daemon: ICINGA
        servicegroups           daemon-checks, icinga-checks
        hostgroup_name          icinga
        check_command           check_nrpe!check_procs_perf!'-c 1: -C icinga -u nagios -a icinga.cfg'
        check_interval          2                                               ; Check more often
        _graphiteprefix         icinga.icinga
        _graphitepostfix        icinga
        _jnag_image             images/procs.png
        notes                   Checking local ICINGA daemon running proc "icinga" with flag "-c 1: -C icinga -u nagios -a icinga.cfg"
        use                     default-service-with-graph
    }


    #=============================================
    #  Service: IDO2BD  (Graph)
    #=============================================
    define service {
        service_description     Daemon: IDO2BD
        servicegroups           daemon-checks, icinga-checks
        hostgroup_name          icinga
        check_command           check_nrpe!check_procs_perf!'-w 2: -c 1: -C ido2db -u nagios'
        check_interval          2                                               ; Check more often
        _graphiteprefix         icinga.ido2db
        _graphitepostfix        ido2db
        _jnag_image             images/procs.png
        notes                   Checking local IDO2BD daemon running proc "ido2db" with flag "-w 2: -c 1: -C ido2db -u nagios"
        use                     default-service-with-graph
    }


    #=============================================
    #  Service: PNP4NAGIOS  (Graph)
    #=============================================
    define service {
        service_description     Daemon: PNP4NAGIOS
        servicegroups           daemon-checks, icinga-checks
        hostgroup_name          icinga
        check_command           check_nrpe!check_procs_perf!'-w :2 -c 1: -C npcd'
        _graphiteprefix         icinga.pnp4nagios
        _graphitepostfix        pnp4nagios
        notes                   Checking local PNP4NAGIOS daemon running proc "npcd"
        use                     default-service-with-graph
    }


    #=============================================
    #  Service: NAGIOS-API  (Graph)
    #=============================================
    define service {
        service_description     Daemon: NAGIOS-API
        servicegroups           daemon-checks, icinga-checks
        hostgroup_name          icinga
        check_command           check_nrpe!check_procs_perf!'-w :2 -c 1: -C \'python\' -a \'nagios\-api\''
        _graphiteprefix         icinga.nagios-api
        _graphitepostfix        nagios-api
        notes                   Checking local NAGIOS-API running procs with flag "-w 2: -c 1: -C python -a nagios-api"
        use                     default-service-with-graph
    }


    #=============================================
    #  Service: ICINGA STATS  (Graph)
    #=============================================
    define service {
        service_description     Daemon: ICINGA Host Latency
        servicegroups           icinga-checks
        hostgroup_name          icinga
        check_command           check_nrpe!check_nagiostats!'--host_latency -w 200 -c 500'
        check_interval          2                                               ; Check more often
        _graphiteprefix         icinga.icinga-stats
        _graphitepostfix        host-latency
        notes                   Checking Icinga Host Latency Stats
        use                     default-service-with-graph
    }
    define service {
        service_description     Daemon: ICINGA Service Latency
        servicegroups           icinga-checks
        hostgroup_name          icinga
        check_command           check_nrpe!check_nagiostats!'--service_latency -w 200 -c 500'
        check_interval          2                                               ; Check more often
        _graphiteprefix         icinga.icinga-stats
        _graphitepostfix        service-latency
        notes                   Checking Icinga Service Latency Stats
        use                     default-service-with-graph
    }
    define service {
        service_description     Daemon: ICINGA Hosts Count
        servicegroups           icinga-checks
        hostgroup_name          icinga
        check_command           check_nrpe!check_nagiostats!'--hostcount'
        check_interval          120                                             ; Check every 2 hours
        notification_interval   120                                             ; Match to check_interval
        _graphiteprefix         icinga.icinga-stats
        _graphitepostfix        hosts-count
        notes                   Count of hosts monitored
        use                     default-service-with-graph
    }
    define service {
        service_description     Daemon: ICINGA Services Count
        servicegroups           icinga-checks
        hostgroup_name          icinga
        check_command           check_nrpe!check_nagiostats!'--servicecount'
        check_interval          120                                             ; Check every 2 hours
        notification_interval   120                                             ; Match to check_interval
        _graphiteprefix         icinga.icinga-stats
        _graphitepostfix        hosts-count
        notes                   Count of services monitored
        use                     default-service-with-graph
    }
