#===============================================================================
#
#  M O N O R A I L . C F G
#
#===============================================================================
define servicegroup{
    servicegroup_name       monorail-daemon-checks
    alias                   Rocketship Checks
}


    #=============================================
    #  Service: MONORAIL  (Graph)
    #=============================================
    define service {
        service_description     Daemon: MONORAIL
        servicegroups           daemon-checks, monorail-daemon-checks
        hostgroup_name          api
        check_command           check_nrpe!check_procs_perf!'-w 3: -c 1: -C \'python\' -a \'/etc/monorail\''
        check_interval          2                                               ; Check more often
        _graphiteprefix         icinga.general
        _graphitepostfix        monorail
        _jnag_image             images/python.png
        notes                   Checking local MONORAIL running procs with flag "-w 3: -c 1: -C python -a /etc/monorail"
        use                     default-service-with-graph
    }


    # #=============================================
    # #  Service:  MONORAIL Children  (Graph)
    # #=============================================
    # define service {
    #     service_description     Daemon: MONORAIL child0
    #     servicegroups           url-checks, monorail-daemon-checks
    #     hostgroup_name          api
    #     check_command           check_nrpe_60!check_http!'-H \'localhost\' -p 9100 -u \'/shops/api/1/status?api_key=046z0d00sWoUKWkAdgmKVYbxRVFhT39G\' -w 10 -c 20 -t 55'
    #     check_interval          2                                               ; Check more often
    #     _graphiteprefix         icinga.url_checks
    #     _graphitepostfix        monorail_child0
    #     notes                   Checking MONORAIL child0 running on port 9100 and url "/shops/api/1/status?api_key=046z0d00sWoUKWkAdgmKVYbxRVFhT39G"
    #     use                     default-service-with-graph
    # }
    # define service {
    #     service_description     Daemon: MONORAIL child1
    #     servicegroups           url-checks, monorail-daemon-checks
    #     hostgroup_name          api
    #     check_command           check_nrpe_60!check_http!'-H \'localhost\' -p 9101 -u \'/shops/api/1/status?api_key=046z0d00sWoUKWkAdgmKVYbxRVFhT39G\' -w 10 -c 20 -t 55'
    #     check_interval          2                                               ; Check more often
    #     _graphiteprefix         icinga.url_checks
    #     _graphitepostfix        monorail_child1
    #     notes                   Checking MONORAIL child1 running on port 9101 and url "/shops/api/1/status?api_key=046z0d00sWoUKWkAdgmKVYbxRVFhT39G"
    #     use                     default-service-with-graph
    # }
    # define service {
    #     service_description     Daemon: MONORAIL child2
    #     servicegroups           url-checks, monorail-daemon-checks
    #     hostgroup_name          api
    #     check_command           check_nrpe_60!check_http!'-H \'localhost\' -p 9102 -u \'/shops/api/1/status?api_key=046z0d00sWoUKWkAdgmKVYbxRVFhT39G\' -w 10 -c 20 -t 55'
    #     check_interval          2                                               ; Check more often
    #     _graphiteprefix         icinga.url_checks
    #     _graphitepostfix        monorail_child2
    #     notes                   Checking MONORAIL child2 running on port 9102 and url "/shops/api/1/status?api_key=046z0d00sWoUKWkAdgmKVYbxRVFhT39G"
    #     use                     default-service-with-graph
    # }
    # define service {
    #     service_description     Daemon: MONORAIL child3
    #     servicegroups           url-checks, monorail-daemon-checks
    #     hostgroup_name          api
    #     check_command           check_nrpe_60!check_http!'-H \'localhost\' -p 9103 -u \'/shops/api/1/status?api_key=046z0d00sWoUKWkAdgmKVYbxRVFhT39G\' -w 10 -c 20 -t 55'
    #     check_interval          2                                               ; Check more often
    #     _graphiteprefix         icinga.url_checks
    #     _graphitepostfix        monorail_child3
    #     notes                   Checking MONORAIL child3 running on port 9103 and url "/shops/api/1/status?api_key=046z0d00sWoUKWkAdgmKVYbxRVFhT39G"
    #     use                     default-service-with-graph
    # }
