#===============================================================================
#
#  N F S . C F G
#
#===============================================================================
define servicegroup{
    servicegroup_name       nfs-daemon-checks
    alias                   NFS Daemon Checks
}


    #=============================================
    #  Service: NFS
    #=============================================
    define service {
        service_description     Daemon: NFS
        servicegroups           nfs-daemon-checks, daemon-checks
        hostgroup_name          nfs
        check_command           check_nrpe!check_rpc!'-H localhost -t -C nfs'
        _graphiteprefix         icinga.nfs
        _graphitepostfix        nfs
        contacts                pagerduty-service-waking-critical
        notes                   Checking local NFS/PORTMAP daemons
        use                     default-service
    }
    define service {
        service_description     Daemon: NFS4 [Server]
        servicegroups           nfs-daemon-checks, daemon-checks
        hostgroup_name          nfs
        check_command           check_nrpe!check_nfs4!'-v'
        _graphiteprefix         icinga.nfs4
        _graphitepostfix        nfs4
        notes                   Checking NFS4 daemon
        use                     default-service-with-graph
    }
