#===============================================================================
#
#  O S . C F G
#
#===============================================================================
define servicegroup{
    servicegroup_name           os-checks
    alias                       OS Checks
}


    #=============================================
    #  Service: Logged Users  (Graph)
    #=============================================
    define service {
        service_description     OS: Logged Users
        servicegroups           os-checks
        hostgroup_name          *, !null
        check_command           check_nrpe!check_users2!'-w 2 -c 3'
        _graphiteprefix         icinga.general
        _graphitepostfix        logged_users
        _jnag_image             images/users.png
        notes                   Checking Logged Users with flags "-w 2 -c 3"
        use                     default-service-with-graph
    }


    #=============================================
    #  Service: Zombie Processes  (Graph)
    #=============================================
    define service {
        service_description     OS: Procs Zombies
        servicegroups           os-checks
        hostgroup_name          *, !null
        check_command           check_nrpe!check_procs_perf!'-w 5 -c 10 -s Z'
        _graphiteprefix         icinga.general
        _graphitepostfix        procs_zombie
        _jnag_image             images/procs.png
        notes                   Checking running Zombie Procs with flags "-w 5 -c 10 -s Z"
        use                     default-service-with-graph
    }


    #=============================================
    #  Service: Read-Only Mounts
    #=============================================
    define service {
        service_description     OS: Read-Only Mounts
        servicegroups           os-checks
        hostgroup_name          *, !null
        check_command           check_nrpe!check_ro_mounts2!'-x /mnt/roassets'
        _graphiteprefix         icinga.general
        _graphitepostfix        ro_mounts
        _jnag_image             images/procs.png
        notes                   Checking Read-Only Mounts with flags "-x /mnt/roassets"
        use                     default-service
    }
