#===============================================================================
#
#  O S _ P R O C S . C F G
#
#===============================================================================


#=============================================
#  Service: Total Processes  (Graph)
#=============================================
define service {
    service_description     OS: Procs Total [Small]
    servicegroups           os-checks
    hostgroup_name          *, !null, !api, !app, !atlas, !redis, !fw, !nfs, !queue, !solr, !sql, !web, !mgm
    check_command           check_nrpe!check_procs_perf!'-w 130 -c 180'
    _graphiteprefix         icinga.general
    _graphitepostfix        procs_total_s
    notes                   Checking Total running Procs with flags "-w 130 -c 180"
    use                     default-service-with-graph
}
define service {
    service_description     OS: Procs Total [Medium]
    servicegroups           os-checks
    hostgroup_name          redis, fw, solr
    check_command           check_nrpe!check_procs_perf!'-w 180 -c 220'
    _graphiteprefix         icinga.general
    _graphitepostfix        procs_total_m
    notes                   Checking Total running Procs with flags "-w 180 -c 220"
    use                     default-service-with-graph
}
define service {
    service_description     OS: Procs Total [Large]
    servicegroups           os-checks
    hostgroup_name          api, atlas, queue, nfs, web
    check_command           check_nrpe!check_procs_perf!'-w 220 -c 270'
    _graphiteprefix         icinga.general
    _graphitepostfix        procs_total_l
    notes                   Checking Total running Procs with flags "-w 220 -c 270"
    use                     default-service-with-graph
}
define service {
    service_description     OS: Procs Total [Large MGM]
    servicegroups           os-checks
    hostgroup_name          mgm
    check_command           check_nrpe!check_procs_perf!'-w 250 -c 300'
    _graphiteprefix         icinga.general
    _graphitepostfix        procs_total_lm
    notes                   Checking Total running Procs with flags "-w 250 -c 300"
    use                     default-service-with-graph
}
define service {
    service_description     OS: Procs Total [Large APP]
    servicegroups           os-checks
    hostgroup_name          app
    check_command           check_nrpe!check_procs_perf!'-w 400 -c 450'
    _graphiteprefix         icinga.general
    _graphitepostfix        procs_total_app
    notes                   Checking Total running Procs with flags "-w 400 -c 450"
    use                     default-service-with-graph
}
define service {
    service_description     OS: Procs Total [Xtra-Large]
    servicegroups           os-checks
    hostgroup_name          sql
    check_command           check_nrpe!check_procs_perf!'-w 280 -c 330'
    _graphiteprefix         icinga.general
    _graphitepostfix        procs_total_xl
    notes                   Checking Total running Procs with flags "-w 280 -c 330"
    use                     default-service-with-graph
}


#=============================================
#  Service: NFS Mount Points  (Graph)
#=============================================
define service {
    service_description     OS: NFS Mount Points
    servicegroups           os-checks
    hostgroup_name          api, app, atlas, queue, web
    host_name               depot07.prod.rf29.net
    check_command           check_nrpe!check_mountpoints!'-i -a -T 5'
    check_interval          5                                               ; Check more often
    _graphiteprefix         icinga.general
    _graphitepostfix        nfs_mountpoints
    contacts                pagerduty-service-waking-critical
    notes                   Checking NFS mount points
    use                     default-service-with-graph
}
