#===============================================================================
#
#  Q U E U E . C F G
#
#===============================================================================
define servicegroup{
    servicegroup_name       queue-daemon-checks
    alias                   QUEUE Daemon Checks
}


    #=============================================
    #  Service: GEARMAN  (Graph)
    #=============================================
    define service {
        service_description     Daemon: GEARMAN
        servicegroups           daemon-checks, queue-daemon-checks
        hostgroup_name          queue
        check_command           check_nrpe!check_gearman1!'-H localhost -w 100 -c 150 -W 200 -C 250 -q task_process'
        check_interval          2                                               ; Check more often
        _graphiteprefix         icinga.queue
        _graphitepostfix        gearman
        contacts                pagerduty-service-waking-critical
        notes                   Checking local GEARMAN daemon with more than "100" jobs as "warning" and more than "150" jobs as "critical"
        use                     default-service-with-graph
    }
    define service {
        service_description     Daemon: GEARMAN workers
        servicegroups           queue-daemon-checks
        hostgroup_name          queue
        check_command           check_nrpe!check_gearman2!' -H localhost --flist task_process -c 10 -w 20'
        check_interval          2                                               ; Check more often
        _graphiteprefix         icinga.queue
        _graphitepostfix        gearman
        contacts                pagerduty-service-waking-critical
        notes                   Checking local GEARMAN workers for less than "30" as "warning" and less than "10" as "critical"
        use                     default-service
    }

    #=============================================
    #  Service: GEARMAN  (Cluster)
    #=============================================
    define service {
        service_description     Daemons: GEARMAN [Cluster]
        servicegroups           daemon-checks, queue-daemon-checks, cluster-checks
        hostgroup_name          clusters
        check_command           check_cluster_service!"GEARMAN Daemons"!0!1!{% for item in prod_servers_list if item.type=="queue" %}$SERVICESTATEID:{{ item.fqdn }}:Daemon: GEARMAN$,{% endfor %}

        check_interval          2                                               ; Check more often
        _graphiteprefix         icinga.queue
        _graphitepostfix        gearman_cluster
        contacts                pagerduty-service-waking-critical               ; ONLY ALERT ON ALL DAEMONS DOWN
        notes                   Checking "Daemons: GEARMAN" services on ALL "GEARMAN" servers
        use                     default-service
    }
    define service {
        service_description     Hosts: GEARMAN [Cluster]
        servicegroups           daemon-checks, queue-daemon-checks, cluster-checks
        hostgroup_name          clusters
        check_command           check_cluster_host!"GEARMAN Hosts"!0!1!{% for item in prod_servers_list if item.type=="queue" %}$HOSTSTATEID:{{ item.fqdn }}$,{% endfor %}

        _graphiteprefix         icinga.queue
        _graphitepostfix        gearman_cluster
        notes                   Checking that ALL "GEARMAN" servers are alive
        use                     default-service
    }
