#===============================================================================
#
#  R E D I S . C F G
#
#===============================================================================
define servicegroup{
    servicegroup_name       redis-checks
    alias                   REDIS Checks
}


    #=============================================
    #  Service: REDIS  (Graph)
    #=============================================
    define service {
        service_description     Daemon: REDIS
        servicegroups           daemon-checks, redis-checks
        hostgroup_name          redis-master, app                              ; REDIS MASTERS
        check_command           check_nrpe!check_redis!'-H localhost -p 6379 --response_time 1,2 -f'
        check_interval          2                                              ; Check more often
        _graphiteprefix         icinga.redis
        _graphitepostfix        redis
        _jnag_image             images/redis.png
        contacts                pagerduty-service-waking-critical, pagerduty-service-sleeping-critical
        notes                   Checking local REDIS Master daemon
        use                     default-service-with-graph
    }
    define service {
        service_description     Daemon: REDIS
        servicegroups           daemon-checks, redis-checks
        hostgroup_name          redis-slave                                    ; REDIS SLAVES
        check_command           check_nrpe!check_redis!'-H localhost -p 6379 --response_time 1,2 -f'
        check_interval          2                                              ; Check more often
        _graphiteprefix         icinga.redis
        _graphitepostfix        redis
        _jnag_image             images/redis.png
        contacts                pagerduty-service-waking-critical
        notes                   Checking local REDIS Slave daemon
        use                     default-service-with-graph
    }


    define service {
        service_description     Daemon: REDIS connections
        servicegroups           daemon-checks, redis-checks
        hostgroup_name          redis, app
        check_command           check_nrpe!check_redis!'-H localhost -p 6379 -a blocked_clients,connected_clients -w 50,~ -c 100,~ -f'
        check_interval          2                                              ; Check more often
        _graphiteprefix         icinga.redis
        _graphitepostfix        redis
        _jnag_image             images/redis.png
        notes                   Checking REDIS number of connections with flag "-H localhost -p 6379 -a blocked_clients,connected_clients -w 50,~ -c 100,~ -f"
        use                     default-service-with-graph
    }
    # define service {
    #     service_description     Daemon: REDIS hitrate
    #     servicegroups           redis-checks
    #     hostgroup_name          redis, app
    #     check_command           check_nrpe!check_redis!'-H localhost -p 6379 --hitrate -f -P \'$SERVICEPERFDATA$\''
    #     check_interval          2                                            ; Check more often
    #     _graphiteprefix         icinga.redis
    #     _graphitepostfix        redis
    #     _jnag_image             images/redis.png
    #     notes                   Checking REDIS hitrate with flag "-H localhost -p 6379 --hitrate -f"
    #     use                     default-service-with-graph
    # }
    # define service {
    #     service_description     Daemon: REDIS Mem util
    #     servicegroups           redis-checks
    #     hostgroup_name          redis, app
    #     check_command           check_nrpe!check_redis!'-H localhost -p 6379 -M 4G -m \'80,90\' -f'
    #     check_interval          2                                            ; Check more often
    #     _graphiteprefix         icinga.redis
    #     _graphitepostfix        redis
    #     _jnag_image             images/redis.png
    #     notes                   Checking REDIS memory utilization of connections with flag "-H localhost -p 6379 -M 4G -m \'80,90\' -f"
    #     use                     default-service-with-graph
    # }
    define service {
        service_description     Daemon: REDIS Replication
        servicegroups           redis-checks
        hostgroup_name          redis-slave
        check_command           check_nrpe!check_redis!'-H localhost -p 6379 --replication_delay=5,10 -f'
        check_interval          2                                            ; Check more often
        _graphiteprefix         icinga.redis
        _graphitepostfix        redis
        _jnag_image             images/redis.png
        notes                   Checking REDIS replication with flag "-H localhost -p 6379 --replication_delay=5,10 -f"
        use                     default-service-with-graph
    }
