#===============================================================================
#
#  U R L _ O T H E R . C F G
#
#===============================================================================
define servicegroup{
        servicegroup_name       3rd-party-url-checks
        alias                   3rd Party Checks
}


        #=============================================
        #  Service:  Github
        #=============================================
        define service {
                service_description      3rd-party URL: Github Login
                servicegroups            url-checks, 3rd-party-url-checks
                hostgroup_name           othersites
                check_command            check_github_homepage
                check_interval           3                                      ; Check more often
                _graphiteprefix          icinga.url_checks
                _graphitepostfix         url_github_login
                notes                    Check the secure Github login page (github.com/login) and look for "forgot password" in source content to consider the page succesfully rendered
                use                      default-service-with-graph
        }
        define command {
                command_name             check_github_homepage
                command_line             $USER1$/check_http -H 'github.com' -S -u '/login' -s 'forgot password' -w 8 -c 13 -t 30
        }
        define service {
                service_description      3rd-party URL: Github Status Page
                servicegroups            url-checks, 3rd-party-url-checks
                hostgroup_name           othersites
                check_command            check_github_statuspage
                check_interval           3                                      ; Check more often
                _graphiteprefix          icinga.url_checks
                _graphitepostfix         url_github_status
                notes                    Check the secure Github status page (status.github.com) and look for "All systems operational" in source content to consider the page succesfully rendered
                use                      default-service-with-graph
        }
        define command {
                command_name             check_github_statuspage
                command_line             $USER1$/check_http -H 'status.github.com' -S -u '/' -s 'All systems operational' -w 8 -c 13 -t 30
        }


        #=============================================
        #  Service:  Pivotal Tracker
        #=============================================
        define service {
                service_description      3rd-party URL: Pivotal Tracker Login
                servicegroups            url-checks, 3rd-party-url-checks
                hostgroup_name           othersites
                check_command            check_pivotal_homepage
                check_interval           3                                      ; Check more often
                _graphiteprefix          icinga.url_checks
                _graphitepostfix         url_pivotal_login
                notes                    Check the secure Pivotal Tracker login page (www.pivotaltracker.com/signin) and look for "forgot password" in source content to consider the page succesfully rendered
                use                      default-service-with-graph
        }
        define command {
                command_name             check_pivotal_homepage
                command_line             $USER1$/check_http -H 'www.pivotaltracker.com' -S -u '/signin' -s 'forgot password' -w 8 -c 13 -t 30
        }


        # #=============================================
        # #  Service:  Axosoft
        # #=============================================
        # define service {
        #         service_description      3rd-party URL: Axosoft
        #         servicegroups            url-checks, 3rd-party-url-checks
        #         hostgroup_name           othersites
        #         check_command            check_axosoft_homepage
        #         check_interval           3                                      ; Check more often
        #         _graphiteprefix          icinga.url_checks
        #         _graphitepostfix         url_axosoft_login
        #         notes                    Check the secure Axosoft login page (refinery29.axosoft.com/login.aspx) and look for "Forgot your password" in source content to consider the page succesfully rendered
        #         use                      default-service-with-graph
        # }
        # define command {
        #         command_name             check_axosoft_homepage
        #         command_line             $USER1$/check_http -H 'refinery29.axosoft.com' -S -u '/login.aspx' -s 'Forgot your password' -w 8 -c 13 -t 30
        # }


        #=============================================
        #  Service:  Pingdom
        #=============================================
        define service {
                service_description      3rd-party URL: Pingdom
                servicegroups            url-checks, 3rd-party-url-checks
                hostgroup_name           othersites
                check_command            check_pingdom_homepage
                check_interval           3                                      ; Check more often
                _graphiteprefix          icinga.url_checks
                _graphitepostfix         url_pingdom_login
                notes                    Check the secure Pingdom login page (my.pingdom.com) and look for "Forgot your password" in source content to consider the page succesfully rendered
                use                      default-service-with-graph
        }
        define command {
                command_name             check_pingdom_homepage
                command_line             $USER1$/check_http -H 'my.pingdom.com' -S -u '/' -s 'Forgot your password' -w 8 -c 13 -t 30
        }


        #=============================================
        #  Service:  NewRelic
        #=============================================
        define service {
                service_description      3rd-party URL: NewRelic Status Page
                servicegroups            url-checks, 3rd-party-url-checks
                hostgroup_name           othersites
                check_command            check_newrelic_statuspage
                check_interval           3                                      ; Check more often
                _graphiteprefix          icinga.url_checks
                _graphitepostfix         url_newrelic_status
                notes                    Check the secure NewRelic status page (status.newrelic.com) and look for "All Systems Operational" in source content to consider the page succesfully rendered
                use                      default-service-with-graph
        }
        define command {
                command_name             check_newrelic_statuspage
                command_line             $USER1$/check_http -H 'status.newrelic.com' -S -u '/' -s 'All Systems Operational' -w 8 -c 13 -t 30
        }
