#===============================================================================
#
#  W E B D A E M O N S . C F G
#
#===============================================================================
define servicegroup{
    servicegroup_name           webdaemon-checks
    alias                       API WEB Daemon Checks
}


    #=============================================
    #  Service: APACHE  (Graph)
    #=============================================
    define service {
        service_description     Daemon: APACHE
        servicegroups           webdaemon-checks, daemon-checks
        hostgroup_name          mgm
        check_command           check_nrpe!check_apache2!'-H localhost -t 10'
        check_interval          2                                               ; Check more often
        _graphiteprefix         icinga.apache
        _graphitepostfix        apache
        _jnag_image             images/apache.png
        notes                   Checking local APACHE daemon on port TCP/80
        use                     default-service-with-graph
    }
    define service {
        service_description     Daemon: APACHE Procs
        servicegroups           webdaemon-checks
        hostgroup_name          mgm
        check_command           check_nrpe!check_procs_perf!'-a \'apache2\' -u \'www-data\''
        check_interval          2                                               ; Check more often
        _graphiteprefix         icinga.apache
        _graphitepostfix        apache_procs
        _jnag_image             images/apache.png
        notes                   Checking local APACHE running proc "apache2" with user "www-data"
        use                     default-service-with-graph
    }


    #=============================================
    #  Service: NGINX  (Graph)
    #=============================================
    define service {
        service_description     Daemon: NGINX
        servicegroups           webdaemon-checks, daemon-checks
        hostgroup_name          api, app, atlas, web
        check_command           check_nrpe!check_nginx!'-H localhost -P 80 -p /var/run -n nginx.pid -s nginx_status'
        check_interval          2                                               ; Check more often
        _graphiteprefix         icinga.nginx
        _graphitepostfix        nginx
        _jnag_image             images/nginx.png
        notes                   Checking local NGINX daemon on port TCP/8080
        use                     default-service-with-graph
    }
    define service {
        service_description     Daemon: NGINX Procs
        servicegroups           webdaemon-checks
        hostgroup_name          api, app, atlas, web
        check_command           check_nrpe!check_procs_perf!'-C \'nginx\''
        check_interval          2                                               ; Check more often
        _graphiteprefix         icinga.nginx
        _graphitepostfix        nginx_procs
        _jnag_image             images/nginx.png
        notes                   Checking local NGINX running proc "nginx"
        use                     default-service-with-graph
    }
    define service {
        service_description     Daemon: NGINX http codes
        servicegroups           webdaemon-checks
        hostgroup_name          api, atlas, web
        check_command           check_nrpe!check_http_status_code2!'/var/log/nginx/r29-access.log 500 10 15'
        _graphiteprefix         icinga.nginx
        _graphitepostfix        nginx_http_codes
        _jnag_image             images/nginx.png
        notes                   Checking occurrences of 3XX/4XX/5XX http errors on NGINX on file "/var/log/nginx/r29-access.log"
        use                     default-service-with-graph
    }
    define service {
        service_description     Daemon: NGINX http codes
        servicegroups           webdaemon-checks
        hostgroup_name          app
        check_command           check_nrpe!check_http_status_code2!'/var/log/nginx/access.log 500 10 15'
        _graphiteprefix         icinga.nginx
        _graphitepostfix        nginx_http_codes
        _jnag_image             images/nginx.png
        notes                   Checking occurrences of 3XX/4XX/5XX http errors on NGINX on file "/var/log/nginx/access.log"
        use                     default-service-with-graph
    }


    #=============================================
    #  Service: NGINX  (Cluster)
    #=============================================
    define service {
        service_description     Daemons: NGINX [API Cluster]
        servicegroups           daemon-checks, webdaemon-checks, cluster-checks
        hostgroup_name          clusters
        check_command           check_cluster_service!"NGINX API Daemons"!0!1!{% for item in prod_servers_list if item.type=="api" %}$SERVICESTATEID:{{ item.fqdn }}:Daemon: NGINX$,{% endfor %}

        _graphiteprefix         icinga.nginx
        _graphitepostfix        nginx_cluster
        _jnag_image             images/cluster.png
        contacts                pagerduty-service-waking-critical               ; ONLY ALERT ON ALL DAEMONS DOWN
        notes                   Checking "Daemons: NGINX" services on ALL "API" servers
        use                     default-service
    }
    define service {
        service_description     Hosts: NGINX [API Cluster]
        servicegroups           daemon-checks, webdaemon-checks, cluster-checks
        hostgroup_name          clusters
        check_command           check_cluster_host!"NGINX API Hosts"!0!1!{% for item in prod_servers_list if item.type=="api" %}$HOSTSTATEID:{{ item.fqdn }}$,{% endfor %}.prod.rf29.net$

        _graphiteprefix         icinga.nginx
        _graphitepostfix        nginx_cluster
        _jnag_image             images/cluster.png
        notes                   Checking that ALL "API" servers are alive
        use                     default-service
    }
    define service {
        service_description     Daemons: NGINX [WEB Cluster]
        servicegroups           daemon-checks, webdaemon-checks, cluster-checks
        hostgroup_name          clusters
        check_command           check_cluster_service!"NGINX WEB Daemons"!0!1!{% for item in prod_servers_list if item.type=="web" %}$SERVICESTATEID:{{ item.fqdn }}:Daemon: NGINX$,{% endfor %}

        _graphiteprefix         icinga.nginx
        _graphitepostfix        nginx_cluster
        _jnag_image             images/cluster.png
        contacts                pagerduty-service-waking-critical               ; ONLY ALERT ON ALL DAEMONS DOWN
        notes                   Checking "Daemons: NGINX" services on ALL "WEB" servers
        use                     default-service
    }
    define service {
        service_description     Hosts: NGINX [WEB Cluster]
        servicegroups           daemon-checks, webdaemon-checks, cluster-checks
        hostgroup_name          clusters
        check_command           check_cluster_host!"NGINX WEB Hosts"!0!1!{% for item in prod_servers_list if item.type=="web" %}$HOSTSTATEID:{{ item.fqdn }}$,{% endfor %}.prod.rf29.net$

        _graphiteprefix         icinga.nginx
        _graphitepostfix        nginx_cluster
        _jnag_image             images/cluster.png
        notes                   Checking that ALL "WEB" servers are alive
        use                     default-service
    }


    #=============================================
    #  Service: PHP-FPM  (Graph)
    #=============================================
    define service {
        service_description     Daemon: PHP-FPM
        servicegroups           webdaemon-checks, daemon-checks
        hostgroup_name          api, atlas, web
        check_command           check_php_fpm
        check_interval          2                                                      ; Check more often
        _graphiteprefix         icinga.php-fpm
        _graphitepostfix        php-fpm
        _jnag_image             images/php.png
        notes                   Checking remote PHP-FPM by parsing results of "/fpm_status.php" page
        use                     default-service-with-graph
    }
    define command{
        command_name             check_php_fpm
        command_line             /usr/bin/perl $USER1$/check_phpfpm_status.pl -H $HOSTADDRESS$ -s localhost -p 80 -u /fpm_status.php -w -1,-1,-1 -c -1,-1,-1
    }
    define service {
        service_description     Daemon: PHP-FPM Procs
        servicegroups           webdaemon-checks
        hostgroup_name          api, atlas, web
        check_command           check_nrpe!check_procs_perf!'-u \'www-data\' -a \'pool\ www\''
        check_interval          2                                                      ; Check more often
        _graphiteprefix         icinga.php-fpm
        _graphitepostfix        php-fpm_procs
        _jnag_image             images/nginx.png
        notes                   Checking local PHP-FPM running proc "pool www" with user "www-data"
        use                     default-service-with-graph
    }


    #=============================================
    #  Service: PHP-FPM  (Cluster)
    #=============================================
    define service {
        service_description     Daemons: PHP-FPM [API Cluster]
        servicegroups           daemon-checks, webdaemon-checks, cluster-checks
        hostgroup_name          clusters
        check_command           check_cluster_service!"PHP-FPM API Daemons"!0!1!{% for item in prod_servers_list if item.type=="api" %}$SERVICESTATEID:{{ item.fqdn }}:Daemon: PHP-FPM$,{% endfor %}

        _graphiteprefix         icinga.php-fpm
        _graphitepostfix        php-fpm_cluster
        _jnag_image             images/cluster.png
        contacts                pagerduty-service-waking-critical               ; ONLY ALERT ON ALL DAEMONS DOWN
        notes                   Checking "Daemons: PHP-FPM" services on ALL "API" servers
        use                     default-service
    }
    define service {
        service_description     Hosts: PHP-FPM [API Cluster]
        servicegroups           daemon-checks, webdaemon-checks, cluster-checks
        hostgroup_name          clusters
        check_command           check_cluster_host!"PHP-FPM API Hosts"!0!1!{% for item in prod_servers_list if item.type=="api" %}$HOSTSTATEID:{{ item.fqdn }}$,{% endfor %}.prod.rf29.net$

        _graphiteprefix         icinga.php-fpm
        _graphitepostfix        php-fpm_cluster
        _jnag_image             images/cluster.png
        notes                   Checking that ALL "API" servers are alive
        use                     default-service
    }
    define service {
        service_description     Daemons: PHP-FPM [WEB Cluster]
        servicegroups           daemon-checks, webdaemon-checks, cluster-checks
        hostgroup_name          clusters
        check_command           check_cluster_service!"PHP-FPM WEB Daemons"!0!1!{% for item in prod_servers_list if item.type=="web" %}$SERVICESTATEID:{{ item.fqdn }}:Daemon: PHP-FPM$,{% endfor %}

        _graphiteprefix         icinga.php-fpm
        _graphitepostfix        php-fpm_cluster
        _jnag_image             images/cluster.png
        contacts                pagerduty-service-waking-critical               ; ONLY ALERT ON ALL DAEMONS DOWN
        notes                   Checking "Daemons: PHP-FPM" services on ALL "WEB" servers
        use                     default-service
    }
    define service {
        service_description     Hosts: PHP-FPM [WEB Cluster]
        servicegroups           daemon-checks, webdaemon-checks, cluster-checks
        hostgroup_name          clusters
        check_command           check_cluster_host!"PHP-FPM WEB Hosts"!0!1!{% for item in prod_servers_list if item.type=="web" %}$HOSTSTATEID:{{ item.fqdn }}$,{% endfor %}.prod.rf29.net$

        _graphiteprefix         icinga.php-fpm
        _graphitepostfix        php-fpm_cluster
        _jnag_image             images/cluster.png
        notes                   Checking that ALL "WEB" servers are alive
        use                     default-service
    }
