#===============================================================================
#
#  E X P O R T S
#
#  NFS Shares
#
#===============================================================================
{{ nfs_folder }}	*(rw,sync,no_root_squash,no_subtree_check)
