[Unit]
Description=Gecko node app
After=network.target

[Service]
Environment=NODE_PORT=3000 NODE_ENV=production
Type=simple
User={{ gecko_group }}
ExecStart=/usr/bin/node {{ gecko_path }}/gekko --ui
Restart=always
#  Use "journalctl -u gekko" to view logs
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=gekko

[Install]
WantedBy=multi-user.target
