#  {{ ansible_managed }}
#
nagios ALL=(ALL) NOPASSWD:/usr/lib/nagios/plugins/check_fail2ban.pl
nagios ALL=(ALL) NOPASSWD:/usr/lib/nagios/plugins/check_open_files.sh
nagios ALL=(ALL) NOPASSWD:/usr/lib/nagios/plugins/check_aacraid.py
nagios ALL=(ALL) NOPASSWD:/usr/lib/nagios/plugins/check_adaptec_raid.pl
# Icinga Server
nagios ALL=(ALL) NOPASSWD:/usr/local/bin/hipsaint
nagios ALL=(ALL) NOPASSWD:/usr/local/bin/slack_icinga.pl
nagios ALL=(ALL) NOPASSWD:/usr/local/bin/pagerduty_icinga.pl
nagios ALL=(ALL) NOPASSWD:/usr/share/pdagent-integrations/bin/pd-nagios
Defaults:nagios !requiretty
