START=yes
NFILES=131072
MEMLOCK=82000

INSTANCE=$(uname -n)

DAEMON_OPTS="-a :80 \
             -T localhost:6082 \
             -f /etc/varnish/default.vcl \
             -S /etc/varnish/secret \
             -s file,/srv/cache/varnish_storage.bin,90% \
             -p http_req_hdr_len=16384 \
             -p http_req_size=1024000 \
             -p thread_pools=4 \
             -p thread_pool_min=300 \
             -w 300,1000"
