[Unit]
Description=Swap enabled on boot
After=network.target

[Service]
WorkingDirectory=/opt/utils
SyslogIdentifier=swap_on_boot
ExecStart=/opt/utils/enable_swap.sh > /dev/null 2>&1
ExecStartPost=/opt/utils/flush_cache_memory.sh > /dev/null 2>&1
Type=simple
Restart=no

[Install]
WantedBy=multi-user.target
