#===============================================================================
#
#  H I P C H A T . C F G
#
#===============================================================================
define contactgroup{
    contactgroup_name   hipchat
    alias               HipChat Alerts
}


        #=============================================
        #  CONTACTS
        #=============================================
        define contact {
            contactgroups                   hipchat
            contact_name                    hipsaint
            alias                           HipChat Room Alerting
            host_notification_period        24x7
            host_notification_options       d,r,s                               ; Notify Only On: D=Down & R=Recovery & S=Scheduled Downtime
            host_notification_commands      notify-host-by-hipchat
            service_notification_period     24x7
            service_notification_options    w,u,c,r,s                           ; Notify Only On: W=WARNING & U=Unknown & C=Critical & R=Recovery & S=Scheduled Downtime
            service_notification_commands   notify-service-by-hipchat
            email                           /dev/null
        }


        #=============================================
        #  COMMANDS
        #=============================================
        define command {
            command_name            notify-host-by-hipchat
            command_line            sudo /usr/local/bin/hipsaint --token={{ hipchat_token }} --room={{ hipchat_room }} --type=host --inputs="$HOSTNAME$|$LONGDATETIME$|$NOTIFICATIONTYPE$|$HOSTADDRESS$|$HOSTSTATE$|$HOSTOUTPUT$" -n
        }
        define command {
            command_name            notify-service-by-hipchat
            command_line            sudo /usr/local/bin/hipsaint --token={{ hipchat_token }} --room={{ hipchat_room }} --type=service --inputs="$SERVICEDESC$|$HOSTALIAS$|$LONGDATETIME$|$NOTIFICATIONTYPE$|$HOSTADDRESS$|$SERVICESTATE$|$SERVICEOUTPUT$|$SERVICENOTES$" -n
        }
