#===============================================================================
#
#  H O S T S . C F G
#
#===============================================================================


#=============================================
#  Generic Server Groups
#=============================================
define hostgroup{
    hostgroup_name              frontend
    alias                       Front-end Servers
}
define hostgroup{
    hostgroup_name              backend
    alias                       Back-end Servers
}


#=============================================
#  API Servers
#=============================================
define hostgroup{
    hostgroup_name              api
    alias                       API Servers
}

{% for item in servers_list if item.type=="api" %}
    define host{
        host_name               {{ item.fqdn }}
        display_name            API: {{ item.fqdn.split('.', 1)|first() }} ({{ item.cpu }}cpu/{{ item.mem }})
        address                 {{ item.private_ip }}
        hostgroups              api, frontend
        contacts                pagerduty-host-waking
        use                     default-host-linux
    }
{% endfor %}


#=============================================
#  APP Servers
#=============================================
define hostgroup{
    hostgroup_name              app
    alias                       APP Servers
}

{% for item in servers_list if item.type=="app" %}
    define host{
        host_name               {{ item.fqdn }}
        display_name            APP: {{ item.fqdn.split('.', 1)|first() }} ({{ item.cpu }}cpu/{{ item.mem }})
        address                 {{ item.private_ip }}
        hostgroups              app, frontend, redis-slave
        contacts                pagerduty-host-waking
        use                     default-host-linux
    }
{% endfor %}


#=============================================
#  Atlas Servers
#=============================================
define hostgroup{
    hostgroup_name              atlas
    alias                       Atlas Servers
}

{% for item in servers_list if item.type=="atlas" %}
    define host{
        host_name               {{ item.fqdn }}
        display_name            ATLAS: {{ item.fqdn.split('.', 1)|first() }} ({{ item.cpu }}cpu/{{ item.mem }})
        address                 {{ item.private_ip }}
        hostgroups              atlas, backend
        contacts                pagerduty-host-waking
        use                     default-host-linux
    }
{% endfor %}


#=============================================
#  Firewall Servers
#=============================================
define hostgroup{
    hostgroup_name              fw
    alias                       Firewall Servers
}

{% for item in servers_list if item.type=="fw" %}
    define host{
        host_name               {{ item.fqdn }}
        display_name            FW: {{ item.fqdn.split('.', 1)|first() }} ({{ item.cpu }}cpu/{{ item.mem }})
        address                 {{ item.private_ip }}
        hostgroups              fw, frontend
        contacts                pagerduty-host-waking, pagerduty-host-sleeping
        use                     default-host-linux
    }
{% endfor %}


#=============================================
#  Management Servers
#=============================================
define hostgroup{
    hostgroup_name              mgm
    alias                       Management Servers
}
define hostgroup{
    hostgroup_name              icinga
    alias                       Icinga Servers
}
define hostgroup{
    hostgroup_name              graphite
    alias                       Icinga Servers
}
define hostgroup{
    hostgroup_name              collectd
    alias                       CollectD Servers
}
define hostgroup{
    hostgroup_name              sentry
    alias                       Sentry Servers
}
define hostgroup{
    hostgroup_name              jenkins
    alias                       Jenkins Servers
}
define hostgroup{
    hostgroup_name              kibana
    alias                       Kibana Servers
}
define hostgroup{
    hostgroup_name              rsyslog
    alias                       RSyslog Servers
}

{% for item in servers_list if item.type=="mgm" %}
    define host{
        host_name               {{ item.fqdn }}
        display_name            MGM: {{ item.fqdn.split('.', 1)|first() }} ({{ item.cpu }}cpu/{{ item.mem }})
        address                 {{ item.private_ip }}
        hostgroups              mgm, backend{% if 'service-icinga' in item.aliases %}, icinga{% endif %}{% if 'service-graphite' in item.aliases %}, graphite{% endif %}{% if 'service-collectd' in item.aliases %}, collectd{% endif %}{% if 'service-sentry' in item.aliases %}, sentry{% endif %}{% if 'service-jenkins' in item.aliases %}, jenkins{% endif %}{% if 'service-kibana' in item.aliases %}, kibana{% endif %}{% if 'service-rsyslog' in item.aliases %}, rsyslog{% endif %}

        contacts                pagerduty-host-waking, pagerduty-host-sleeping
        use                     default-host-linux
    }
{% endfor %}


#=============================================
#  Depot Servers
#=============================================
define hostgroup{
    hostgroup_name              nfs
    alias                       NFS Servers
}

{% for item in servers_list if item.type=="nfs" %}
    define host{
        host_name               {{ item.fqdn }}
        display_name            NFS: {{ item.fqdn.split('.', 1)|first() }} ({{ item.cpu }}cpu/{{ item.mem }})
        address                 {{ item.private_ip }}
        hostgroups              nfs, backend
{% if 'service-depot-master' in item.aliases %}
        contacts                pagerduty-host-waking, pagerduty-host-sleeping
{% else %}
        contacts                pagerduty-host-waking
{% endif %}
        use                     default-host-linux
    }
{% endfor %}


#=============================================
#  Redis Servers
#=============================================
define hostgroup{
    hostgroup_name              redis
    alias                       Redis Servers
}
define hostgroup{
    hostgroup_name              redis-master
    alias                       Redis Master Server
}
define hostgroup{
    hostgroup_name              redis-slave
    alias                       Redis Slave Servers
}

{% for item in servers_list if item.type=="redis" %}
    define host{
        host_name               {{ item.fqdn }}
        display_name            REDIS: {{ item.fqdn.split('.', 1)|first() }} ({{ item.cpu }}cpu/{{ item.mem }})
        address                 {{ item.private_ip }}
{% if 'service-redis-master' in item.aliases %}
        hostgroups              redis, redis-master, backend
        contacts                pagerduty-host-waking, pagerduty-host-sleeping
{% elif 'service-redis-slave' in item.aliases %}
        hostgroups              redis, redis-slave, backend
        contacts                pagerduty-host-waking
{% else %}
        hostgroups              redis, backend
        contacts                pagerduty-host-waking
{% endif %}
        use                     default-host-linux
    }
{% endfor %}


#=============================================
#  Solr Servers
#=============================================
define hostgroup{
    hostgroup_name              solr
    alias                       Solr Servers
}
define hostgroup{
    hostgroup_name              solr-master
    alias                       Solr Master Server
}
define hostgroup{
    hostgroup_name              solr-slave
    alias                       Solr Slave Servers
}

{% for item in servers_list if item.type=="solr" %}
    define host{
        host_name               {{ item.fqdn }}
        display_name            SOLR: {{ item.fqdn.split('.', 1)|first() }} ({{ item.cpu }}cpu/{{ item.mem }})
        address                 {{ item.private_ip }}
{% if 'service-solr-master' in item.aliases %}
        hostgroups              solr, solr-master, backend
        contacts                pagerduty-host-waking, pagerduty-host-sleeping
{% elif 'service-solr-slave' in item.aliases %}
        hostgroups              solr, solr-slave, backend
        contacts                pagerduty-host-waking
{% else %}
        hostgroups              solr, backend
        contacts                pagerduty-host-waking
{% endif %}
        use                     default-host-linux
    }
{% endfor %}


#=============================================
#  SQL Servers
#=============================================
define hostgroup{
    hostgroup_name              sql
    alias                       SQL Servers
}
define hostgroup{
    hostgroup_name              sql-master
    alias                       SQL Master Server
}
define hostgroup{
    hostgroup_name              sql-slave
    alias                       SQL Slave Servers
}

{% for item in servers_list if item.type=="sql" %}
    define host{
        host_name               {{ item.fqdn }}
        display_name            DB: {{ item.fqdn.split('.', 1)|first() }} ({{ item.cpu }}cpu/{{ item.mem }})
        address                 {{ item.private_ip }}
{% if 'service-mysql-master' in item.aliases %}
        hostgroups              sql, sql-master, backend
        contacts                pagerduty-host-waking, pagerduty-host-sleeping
{% elif 'service-mysql-slave' in item.aliases %}
        hostgroups              sql, sql-slave, backend
        contacts                pagerduty-host-waking
{% else %}
        hostgroups              sql, backend
        contacts                pagerduty-host-waking
{% endif %}
        use                     default-host-linux
    }
{% endfor %}


#=============================================
#  Queue Servers
#=============================================
define hostgroup{
    hostgroup_name              queue
    alias                       Queue Servers
}

{% for item in servers_list if item.type=="queue" %}
    define host{
        host_name               {{ item.fqdn }}
        display_name            QUEUE: {{ item.fqdn.split('.', 1)|first() }} ({{ item.cpu }}cpu/{{ item.mem }})
        address                 {{ item.private_ip }}
        hostgroups              queue, backend
        contacts                pagerduty-host-waking
        use                     default-host-linux
    }
{% endfor %}


#=============================================
#  Web Servers
#=============================================
define hostgroup{
    hostgroup_name              web
    alias                       Web Servers
}

{% for item in servers_list if item.type=="web" %}
    define host{
        host_name               {{ item.fqdn }}
        display_name            WEB: {{ item.fqdn.split('.', 1)|first() }} ({{ item.cpu }}cpu/{{ item.mem }})
        address                 {{ item.private_ip }}
        hostgroups              web, frontend
        contacts                pagerduty-host-waking
        use                     default-host-linux
    }
{% endfor %}
