# {{ ansible_managed }}
#
# This is a basic VCL configuration file for varnish.  See the vcl(7)
# man page for details on VCL syntax and semantics.
#
# Refinery 29 Varnish maintenance page config
#
# https://www.varnish-cache.org/docs/3.0/
# https://www.varnish-software.com/static/book/VCL_Basics.html

### Varnish config hack for logging
C{
        #include <syslog.h>
}C

backend holder {
  .host = "web12.r29";
  .port = "80";
  .probe = {
    .url = "/util/ping.php?node=web";
    .interval  = 30s;
    .timeout   = 10s;
    .window    = 5;
    .threshold = 3;
  }
}

sub vcl_recv {
  if (req.url == "/ping") {
    error 843 "OK";
  }
  error 503;
}

sub vcl_error {

   if (obj.status == 843) {
      set obj.status = 200;
      set obj.http.Content-Type = "text/html; charset=utf-8";
      synthetic {"PONG: {{ ansible_hostname }}"};
      return(deliver);
    }

    if (obj.status == 503) {

      C{
        syslog(LOG_NOTICE, "Sending 503 response to %s for %s%s",
               VRT_IP_string(sp, VRT_r_client_ip(sp)), VRT_GetHdr(sp, HDR_REQ, "\005host:"), VRT_r_req_url(sp));
      }C

      set obj.http.Content-Type = "text/html; charset=utf-8";
      set obj.http.Pragma        = "no-cache";

    synthetic {"
 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:og="http://opengraphprotocol.org/schema/">
  <head>
    <title>Refinery29 is Down for Maintenance</title>
  <style>

    .whoops {
      width: 1240px;
      margin: 0 auto;
      height: 660px;
      position: relative;
      top: 50px;
    }

    img.r29 {
      margin-top: 75px;
    }

    p {
      font-family: Georgia, Times, serif;
      font-style: italic;
      margin-top: 15px;
    }

  </style>

  </head>

  <body>
    <div class="whoops">
      <img class="r29" src="http://wac.b7b0.edgecastcdn.net/00B7B0/pub/MaintenancePage.gif" width="1240" height="660" alt="Refinery29" />
    </div>

  </body>
</html>"};
    }
    return (deliver);
}
