#!/bin/sh
#===============================================================================
#
#  S L A C K . S H
#
#===============================================================================
/usr/bin/curl \
    --request POST \
    --silent \
    --data-urlencode "payload={ \
        \"channel\": \"#{{ monit_slack_channel }}\", \
        \"username\": \"{{ monit_slack_username }}\", \
        \"pretext\": \"$MONIT_HOST | $MONIT_EVENT | $MONIT_DATE\", \
        \"color\": \"danger\", \
        \"text\": \"$MONIT_SERVICE - $MONIT_DESCRIPTION\" \
    }" \
    {{ monit_slack_url }}
