#===============================================================================
#
#  E N V I R O N M E N T . S H
#
#  Global environment variables
#
#===============================================================================
export ENV='{{ environment_name }}'
