#===============================================================================
#
#  P R O M P T . S H
#
#  Colored prompt based on environment
#
#===============================================================================

##  Production -- RED
if grep -qs "\.prd.\?\." /etc/hostname;
then
   export PS1='\[\033[0;32m\]\u\[\033[0m\]@\[\033[0;31m\]\H\[\033[0m\]:\[\033[0;34m\]\w\[\033[0m\]\$ '
##  Staging -- YELLOW
elif grep -qs "\.stg.\?\." /etc/hostname;
then
   export PS1='\[\033[0;31m\]\u\[\033[0m\]@\[\033[0;35m\]\H\[\033[0m\]:\[\033[0;34m\]\w\[\033[0m\]\$ '
##  Sales -- PURPLE
elif grep -qs "\.sls.\?\." /etc/hostname;
then
   export PS1='\[\033[0;31m\]\u\[\033[0m\]@\[\033[0;33m\]\H\[\033[0m\]:\[\033[0;34m\]\w\[\033[0m\]\$ '
##  Development -- GREEN
elif grep -qs "\.dev.\?\." /etc/hostname;
then
   export PS1='\[\033[0;31m\]\u\[\033[0m\]@\[\033[0;32m\]\H\[\033[0m\]:\[\033[0;34m\]\w\[\033[0m\]\$ '
##  Global Bash Prompt -- GRAY
else
   export PS1='\[\033[0;31m\]\u\[\033[0m\]@\[\033[1;30m\]\H\[\033[0m\]:\[\033[0;34m\]\w\[\033[0m\]\$ '
fi
